.{
    padding: 0;
    box-sizing: border-box;
}
.footer{
    color:white;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    height: 100%;
}
.container{
    width: 1317px;
    height: 590px;
    background-color: #2E3F91;
    padding: 50px 100px;
}
.head{
    display: flex;
    gap: 950px;
}
.head_baby{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 25px;
    font-weight: 1000;
}
.logo{
    width: 40px;
    height: 40px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
}
.black{
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.b1{
    display: flex;
    font-size:14px;
}
.location_1{
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.left_phone{
    margin-left: 126px;
}
.b2{
    display: flex;
    font-size:14px;
}
.location_2{
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 300px;

}
.b3{
    display: flex;
    font-size:14px;
}
.location_3{
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}
.b4{
    display: flex;
    font-size:14px;
}
.location_4{
    margin: 0;
    margin-right: 150px;
}
.b5{
    display: flex;
    font-size:14px;
}
.location_5{
    justify-self: center;
    justify-content: center;
    align-items: center;

}
.ul{
    list-style-type: none;
    padding:0;
}
.a{
    text-decoration: none;
    color: white;
}
.li{
    margin-bottom: 8px;
}
.icon{
    width: 15px;
    height: 15px;
}
.space{
    margin-left: 100px;
}
.end{
    justify-self: center;
    margin-top: 5px;
}